@model Maslshop.Models.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = Model.Heading;
}
<div id="view-account">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1>Register New User</h1>
        <hr />
    }
    else if (User.IsInRole("Administrator"))
    {
        <h1>Admin Panel</h1>
        <hr />
        <h2>Create New User</h2>
        <hr />
    }
    <p class="alert alert-info">All fields are <strong>mandatory</strong>.</p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostCode)
            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
        if (User.IsInRole("Administrator"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Role, "Role")
                @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles, "Name", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Create New User</button>
        }
        if (!User.Identity.IsAuthenticated)
        {
            <button type="submit" class="btn btn-primary">Register <span class="glyphicon glyphicon-arrow-right"></span></button>
        }
    }
</div>


@section scripts
{
    @Scripts.Render("~/bundles/maslshop")
}
