@model Maslshop.Models.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>

@Html.ActionLink("<< Powrót", "Index")
<hr />
@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        @Html.LabelFor(m => m.Name, "Nazwa")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "np. Suweren" })
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Price, "Cena")
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "np. 20,00" })
        @Html.ValidationMessageFor(m => m.Price)
    </p>
    <p>
        @Html.LabelFor(m => m.StockAmount, "Ilość")
        @Html.TextBoxFor(m => m.StockAmount, new { @class = "form-control", placeholder = "np. 10" })
        @Html.ValidationMessageFor(m => m.StockAmount)
    </p>
    <p>
        @Html.LabelFor(m => m.Description, "Opis")
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "np. próba 999.990 etc." })
        @Html.ValidationMessageFor(m => m.Description)
    </p>
    <p>
        @Html.LabelFor(m => m.Year, "Rok Produkcji")
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control", placeholder = "np. 2018" })
        @Html.ValidationMessageFor(m => m.Year)
    </p>
    @*<p>
        @Html.LabelFor(m => m.Weight, "Waga(gramy)")
        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", placeholder = "np. 31,1035" })
        @Html.ValidationMessageFor(m => m.Weight)
    </p>
    <p>
        @Html.LabelFor(m => m.Fineness, "Próba")
        @Html.TextBoxFor(m => m.Fineness, new { @class = "form-control", placeholder = "np. 999,990" })
        @Html.ValidationMessageFor(m => m.Fineness)
    </p>*@
    <p>
        @Html.LabelFor(m => m.Dimensions, "Wymiary")
        @Html.TextBoxFor(m => m.Dimensions, new { @class = "form-control", placeholder = "np. Średnica: 30 mm x Grubość: 3mm" })
        @Html.ValidationMessageFor(m => m.Dimensions)
    </p>
    <p>
        @Html.LabelFor(m => m.Manufacturer, "Wytwórca")
        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control", placeholder = "np. Canadian Mint" })
        @Html.ValidationMessageFor(m => m.Manufacturer)
    </p>
    <p>
        @Html.LabelFor(m => m.Category, "Kategoria")
        @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category)
    </p>
    <p>
        @Html.LabelFor(m => m.UploadedFiles, "Zdjęcie produktu nr 1")
        @Html.TextBoxFor(m => m.UploadedFiles, new { type="file", name = "Files" })

    </p>
    <p>
        @Html.LabelFor(m => m.UploadedFiles, "Zdjęcie produktu nr 2")
        @Html.TextBoxFor(m => m.UploadedFiles, new { type = "file", name = "Files" })

    </p>
    <p>
        @Html.LabelFor(m => m.UploadedFiles, "Zdjęcie produktu nr 3")
        @Html.TextBoxFor(m => m.UploadedFiles, new { type = "file", name = "Files" })

    </p>
    <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/maslshop")
}
