@model Maslshop.Models.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm("SearchProduct", "Product"))
{
    <div class="form-group">
        <div class="input-group" style="width: 300px">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by the name etc..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<p><a href="@Url.Action("Add", "Product")" class="btn btn-primary" role="button">Add Product</a></p>





<div id="ProductsList">
    <table id="table" class="table table-striped table-bordered text-center">
        <thead>
            <tr class="active text-info">
                <th>Id</th>
                <th>Date Added</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock Amount</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody class="text-center">

            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@($"{product.AddedDate:d}")</td>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.StockAmount</td>
                    <td>@product.CategoryName</td>
                    @if (product.FileName != null)
                    {
                        <td>
                            <img src="~/Content/Images/Thumbnails/@product.FileName" alt="photo" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="~/Content/Images/Thumbnails/no-pic.png" alt="photo" />
                        </td>
                    }
                    <td><a href="@Url.Action("Edit", "Product", new {productId = product.Id})" class="btn btn-primary" role="button">Edit</a></td>
                    <td><a href="@Url.Action("Delete", "Product", new {productId = product.Id})" class="btn btn-primary" role="button">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
