@model Maslshop.Models.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2 align="center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="medium-box category-panel">
                    <div class="image">
                        @if (product.FileName != null)
                        {
                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">
                                <img src="~/Content/Images/Thumbnails/@product.FileName" alt="photo" title="@product.Name" class="center-block2 img-responsive" />
                            </a>

                        }
                        else
                        {
                            <img src="~/Content/Images/Thumbnails/no-pic.png" alt="photo" />
                        }
                    </div>
                    <div class="inner-box grey-background">
                        <p class="name">
                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">@product.Name</a>
                        </p>
                        <p class="stock-message">
                            @if (product.StockAmount > 0)
                            {
                                <small style="color: green">Product available</small>
                            }
                            else
                            {
                                <small style="color: #ca9200">Coming soon</small>
                            }
                        </p>
                        <div class="bottom">
                            <p class="from" id="price-inc-vat-454">
                                <span class="json">@product.Price.ToString("C")</span>
                            </p>
                            <a class="btn2 btn-primary center-block" href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">View</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

