@model Maslshop.Models.ViewModels.Product.ProductsListViewModel

@{
    ViewBag.Title = Model.Heading;
}
<div id="view-account" class="visible-xs">
    <h1 align="center">@ViewBag.Title</h1>
    <hr />
    @using (Html.BeginForm("SearchProducts", "Product", FormMethod.Post, new { id = "submitForm" }))
    {
        <div class="form-group">
            <div class="input-group"  id="mobile-searchbar">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by the name etc..." })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="SearchButton">Search</button>
                </span>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-12">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="medium-box category-panel">
                    <div class="thumbnail-image">
                        @if (product.FileName != null)
                        {
                            var products = Model.Files.Where(i => i.ProductId == product.Id).ToList();


                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">
                                <img src="~/Content/Images/Thumbnails/@products[0].FileName" alt="photo" title="@product.Name" class="center-block2 img-responsive" />
                            </a>

                        }
                        else
                        {
                            <img src="~/Content/Master/no-pic.png" alt="photo" class="center-block2 img-responsive" />
                        }
                    </div>
                    <div class="inner-box grey-background">
                        <p class="name">
                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">@product.Year @product.Name</a>
                        </p>
                        <p class="stock-message"> 
                            @if (product.StockAmount > 0)
                            {
                                <small style="color: green">Product available</small>
                            }
                            else
                            {
                                <small style="color: #ca9200">Coming soon</small>
                            }
                        </p>
                        <div class="bottom">
                            <p class="from" id="price-inc-vat-454">
                                <span class="json">@product.Price.ToString("C")</span>
                            </p>
                            <a class="btn2 btn-primary center-block" href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">View</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

