@using Maslshop.Models.ViewModels.Order
@model Maslshop.Models.ViewModels.Delivery.DeliveriesViewModel

@{
    ViewBag.Title = Model.Heading;
}
<div id="view-account">
    <h1>Admin Panel</h1>
    <hr />
    <h2>Deliveries List</h2>
    <hr />
    <p><a href="@Url.Action("AddDeliveryType", "Delivery")" class="btn btn-primary" role="button">Add Delivery Type</a></p>
</div>
<div style="overflow-x: auto">
    <table id="table" class="table table-striped table-bordered text-center">
        <thead>
        <tr class="active text-info">
            <th>Id</th>
            <th>Delivery Type</th>
            <th>Price</th>
            <th>Orders Amount</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody class="text-center">
        @foreach (var delivery in Model.Deliveries)
        {
            <tr>
                <td>@delivery.Id</td>
                <td>@delivery.Name</td>
                <td>
                    @delivery.Price.ToString("C")
                </td>
                <td>
                    @delivery.Orders.Count
                </td>
                <td><a href="@Url.Action("EditDeliveryType", "Delivery", new {deliveryId = delivery.Id})" class="btn btn-primary glyphicon glyphicon-pencil" role="button"></a></td>
                <td><a href="@Url.Action("RemoveDeliveryType", "Delivery", new {deliveryId = delivery.Id})" class="btn btn-primary glyphicon glyphicon-remove" role="button"></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
