@model Maslshop.Models.ViewModels.Order.EditOrderFormViewModel
@{
    ViewBag.Title = Model.Heading;
}
<div id="view-account">
    <h1>Admin Panel</h1>
    <hr />
    <h2>Edit Order no @Model.OrderId</h2>
    <hr />
    
    <p class="alert alert-info">
        All fields are <strong>mandatory</strong>.
    </p>

    @using (Html.BeginForm("EditOrder", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => Model.OrderId)
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = @Model.Name })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = @Model.Surname })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = @Model.Address })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostCode)
            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", placeholder = @Model.PostCode })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = @Model.City })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StatusId)
            @Html.DropDownListFor(m => Model.StatusId, new SelectList(Model.OrderStats, "Id", "Status"), "", new { @class = "form-control" })
        </div>
        <div class="form-group" style="margin-right: 0;">
            @Html.LabelFor(m => m.OrderDetails)
            <div id="ProductsList" style="overflow-x: auto">
                <table id="table" class="table table-striped table-bordered text-center">
                    <thead>
                        <tr class="active text-info">
                            <th>Product Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">

                        @foreach (var product in Model.OrderDetails)
                        {
                            var subtotal = @product.Price * @product.Quantity;

                            <tr>
                                <td>@product.ProductId</td>
                                <td>@product.Product.Name</td>
                                <td>@product.Price.ToString("C")</td>
                                <td>@product.Quantity</td>
                                <td>@subtotal.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    }
</div>


