@using System.Activities.Statements
@model Maslshop.Models.ViewModels.Order.OrderViewModel

@{
    ViewBag.Title = @Model.Heading;
}

<div id="view-account">
    <h1>Order no: @Model.OrderId - Status: @Model.OrderStatusName</h1>
    <hr/>
    @switch (Model.OrderStatusId)
    {
        case 1:
        case 2:
            <h2>You can cancel order if it has not been dispatched yet.</h2>
            break;
        case 3:
            <h2>Goods dispatched.</h2>
            break;
        case 4:
            <h2>Order delivered.</h2>
            break;
        case 5:
            <h2>Order cancelled.</h2>
            break;
    }
    <hr/>
</div>



<div id="ProductsList" style="overflow-x: auto">
    <table id="table" class="table table-striped table-bordered text-center">
        <thead>
            <tr class="active text-info">
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody class="text-center">

            @foreach (var product in Model.OrderDetails)
            {
                var subtotal = @product.Price * @product.Quantity;
                <tr>
                    <td>@product.Product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.Quantity</td>
                    <td>@subtotal.ToString("C")</td>
                </tr>
            }
        </tbody>
        <thead>
            <tr class="active text-info">
                <th>Delivery type</th>
                <th>Delivery price</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>@Model.DeliveryTypeName</td>
                <td>@Model.DeliveryPrice.ToString("C")</td>

            </tr>
        </tbody>
        <thead>
            <tr class="active text-info">
                <th>Order total</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>@Model.OrderTotal.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-6">
        <div id="ProductsList">
            <table id="table" class="table table-striped table-bordered text-center">
                <thead>
                    <tr class="active text-info">
                        <th>Billing Address</th>
                    </tr>
                    <tr>
                        <th>@Model.BillingName @Model.BillingSurname</th>
                    </tr>
                    <tr>
                        <th>@Model.BillingAddress</th>
                    </tr>
                    <tr>
                        <th>@Model.BillingPostCode</th>
                    </tr>
                    <tr>
                        <th>@Model.BillingCity</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="ProductsList">
            <table id="table" class="table table-striped table-bordered text-center">
                <thead>
                    <tr class="active text-info">
                        <th>Delivery Address</th>
                    </tr>
                    <tr>
                        <th>@Model.Name @Model.Surname</th>
                    </tr>
                    <tr>
                        <th>@Model.DeliveryAddress</th>
                    </tr>
                    <tr>
                        <th>@Model.DeliveryPostCode</th>
                    </tr>
                    <tr>
                        <th>@Model.DeliveryCity</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@switch (Model.OrderStatusId)
{
    case 1:
    case 2:
        <a href="@Url.Action("CancelOrder", "Order", new {orderId = Model.OrderId})" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel Order</a>
        break;
}

