@model Maslshop.Models.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Maslshop - Change Your Password";
}

<div id="view-account">
    <h1>My Account</h1>
    <hr />
    <h2>Change Your Password</h2>
    <hr/>
    <p class="alert alert-info">All fields are <strong>mandatory</strong>.</p>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    }
</div>
