@model Maslshop.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Ustawienia Konta";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień Hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Utwórz Hasło", "SetPassword")
            }
            ]
        </dd>
    </dl>
    @if (!User.IsInRole("Administrator"))
    {
        <p>
            <a href="@Url.Action("Edit", "Account", new { userId = Model.Id})">Edytuj dane</a>
        </p> 
    }
</div>
