@using Microsoft.AspNet.Identity
@model Maslshop.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "My Account";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-2">
        <ul class="list-group">
            <li class="list-group-item">Kategorie</li>
        </ul>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień Hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Utwórz Hasło", "SetPassword")
            }
            ]
        </dd>
        <dt>Twoje dane:</dt>
        <dd>
            <a href="@Url.Action("Edit", "Account", new {userId = Model.Id})">[ Edytuj dane ]</a>
        </dd>
    </dl>
    @if (!User.IsInRole("Administrator"))
    {
        var currentUser = Model.User.SingleOrDefault(i => i.Id == HttpContext.Current.User.Identity.GetUserId());

        <p>Twoje dane adresowe</p>
        <p>Imię: @currentUser.Name</p>
        <p>Nazwisko: @currentUser.Surname</p>
        <p>Adres: @currentUser.Address, @currentUser.PostCode @currentUser.City</p>
        <p>Email: @currentUser.Email</p>
        <p>
            <a href="@Url.Action("Edit", "Account", new { userId = Model.Id})">Edytuj dane</a>
        </p>
    }
</div>
