@model Maslshop.Models.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h2 align="center">@ViewBag.Title</h2>


<div class="row">
    <div class="col-sm-2">
        <ul class="list-group">
            <li class="list-group-item">Kategorie</li>
            @foreach (var category in Model.Categories)
            {

                <li class="list-group-item"><a href="@Url.Action("Index", "Home", new {query = category.Name} )">@category.Name</a><span class="badge">@category.Products.Count</span></li>

            }
        </ul>
    </div>
    <div class="col-sm-10">
        @using (Html.BeginForm("SearchProduct", "Home"))
        {
            if (Model.SearchTerm != null)
            {
                @Html.ActionLink("<<Powrót", "Index")
            }

            <div class="form-group">
                <div class="input-group" style="width: 300px">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Wyszukaj według nazwy etc..." })
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        }

        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="medium-box category-panel">
                    <div class="image">
                        @if (product.FileName != null)
                        {
                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">
                        <img src="~/Content/Images/Thumbnails/@product.FileName" alt="photo" title="@product.Name" class="center-block2 img-responsive" />
                            </a>

                        }
                        else
                        {
                            <img src="~/Content/Images/Thumbnails/no-pic.png" alt="photo" />
                        }
                    </div>
                    <div class="inner-box grey-background">
                        <p class="name">
                            <a href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">@product.Name</a>
                        </p>
                        <p class="stock-message">
                            @if (product.StockAmount > 0)
                            {
                                <small>Produkt dostępny</small>
                            }
                            else
                            {
                                <small>Niedługo dostawa</small>
                            }
                        </p>
                        <div class="bottom">
                            <p class="from" id="price-inc-vat-454">
                                <small>od</small> <span class="json">@product.Price.ToString("C")</span>
                            </p>
                            <a class="btn2 btn-primary center-block" href="@Url.Action("ViewProduct", "Product", new {productId = product.Id})">Zobacz</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

