@using Maslshop.Controllers
@using Maslshop.Models.Core
@model Maslshop.Models.Core.CartItem
@{
    ViewBag.Title = "Your Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>

@{
    var basketList = (List<CartItem>) Session[HttpContext.Current.User.Identity.Name];
}

@if (basketList.Count == 0 || HttpContext.Current.User.Identity == null || basketList == null)
{
    <p>Your basket is empty or you have not logged in. Go, buy something or log in. Then come back</p>
}
else
{
    <table>
        <tr>
            <th>Usuń</th>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Cena razem</th>
        </tr>
        @foreach(CartItem item in (List<CartItem>) Session[HttpContext.Current.User.Identity.Name])
        {
            <tr>
                <td><a href="@Url.Action("RemoveFromCart", "ShoppingCart", new {id = item.Product.Id})">Usuń</a></td>
                <td>@item.ProductId</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price.ToString("C")</td>
                <td>
                    @{
                        var subTotal = item.Product.Price * item.Quantity;
                    }
                
                    @subTotal.ToString("C")
                </td>
            </tr>
        }
        <tr>
            <td>
                Suma
            </td>
            <td>
                @{
                    List<CartItem> cart = (List<CartItem>) Session[HttpContext.Current.User.Identity.Name];
                    var total = cart.Sum(item => item.Product.Price * item.Quantity);
                }
                @total.ToString("C")
            </td>
        </tr>
    </table>
    <br/>
    <a href="@Url.Action("Index", "Home")">Kontynuuj Zakupy</a>
    <br/>
    <a href="@Url.Action("Checkout", "Order"@*, new {productId = product.Id}*@)" class="btn btn-primary" role="button">Zamów</a>
    <br/>
    <a href="@Url.Action("ClearCart", "ShoppingCart"@*, new {productId = product.Id}*@)" class="btn btn-primary" role="button">Opróżnij Koszyk</a>
}

