@model Maslshop.Models.ViewModels.Roles.RolesListViewModel
@{
    ViewBag.Title = Model.Heading;
}

<div id="view-account">
    <h1>Admin Panel</h1>
    <hr/>
    <h2>Roles' List</h2>
    <hr/>
    <p><a href="@Url.Action("Create", "Roles")" class="btn btn-primary" role="button">Add New Role</a>
    </p>
</div>

<table id="table" class="table table-striped table-bordered text-center">
    <thead>
        <tr class="active text-info">
            <th>Name</th>
            <th>Number Of Users</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @role.Users.Count
                </td>
                <td><a href="@Url.Action("Edit", "Roles", new {roleId = role.Id})" class="btn btn-primary glyphicon glyphicon-pencil" role="button"></a></td>
                <td><a href="@Url.Action("Delete", "Roles", new {roleId = role.Id})" class="btn btn-primary glyphicon glyphicon-remove" role="button"></a></td>
            </tr>
        }
    </tbody>
</table>