@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon"
          href="../../Content/Master/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/maslshop")
</head>
<body>

    <div id="top-bar" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-5">
                </div>
                <div class="col-lg-5 col-md-6 col-sm-7">
                    @Html.Partial("_TopBarPartial")
                </div>
            </div>
        </div>
    </div>
    @*Mobile Header*@
    <header class="visible-xs mobile-header">
        @Html.Partial("_MobileHeaderPartial")
    </header>
    <div class="container">
        <header id="header" class="hidden-xs mobile-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7">
                    <div class="logo">
                        <a href="/">

                            <img src="../../Content/Master/logo.jpg" class="img-responsive" />
                            <p class="bbp">
                                <span class="gold">Masl</span>Shop
                            </p>
                            <p class="tagline">
                                The <span class="gold">BEST</span> Online Bullion Dealer
                            </p>
                            <p class="delivery-tagline">
                                Over <strong>100 000</strong> orders delivered
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5 center-column">
                    @if (!User.IsInRole("Administrator"))
                    {
                        @Html.Partial("_SearchBarPartial", new ViewDataDictionary())
                    }
                </div>
            </div>
        </header>
        <div id="content">
            @*Nav*@
            @Html.Partial("_NavPartial")
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <div id="left-column">
                        @if (User.Identity.IsAuthenticated)
                        {

                            @Html.Partial("_ManageAccountSideMenuPartial")

                        }
                        @Html.Partial("_SideMenuPartial")
                        @if (User.IsInRole("Administrator"))
                        {
                            @Html.Partial("_AdminSideMenuPartial")
                        }
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-9" id="body-content">
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/maslshop")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
