@using Maslshop.Models.Core
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated && Session[HttpContext.Current.User.Identity.Name] != null)
{
    List<CartItem> cart = (List<CartItem>)Session[HttpContext.Current.User.Identity.Name];

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "ShoppingCart")">
                Koszyk(@cart.Sum(i => i.Quantity))               
            </a>
        </li>
    </ul>
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Moje konto - " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

