@using Maslshop.Models.Core
@using Microsoft.AspNet.Identity


<div class="row hidden-xs">
    <div class="col-sm-12">
        <nav>
            <div id="menu">
                <ul>
                    <li class="green-wide">
                        <a href="/">Buy</a>
                    </li>
                    <li class="hidden-md hidden-sm">
                        <a href="@Url.Action("About", "Info")">About Us</a>
                    </li>
                    @if ((List<CartItem>) Session[HttpContext.Current.User.Identity.Name] != null)
                    {
                        var cart = (List<CartItem>) Session[HttpContext.Current.User.Identity.Name];

                        var value = cart.Sum(i => i.Quantity);

                        if (value > 0)
                        {
                            <li class="green-wide">
                                <a href="@Url.Action("Index", "ShoppingCart")">Basket (@value)</a>
                            </li>
                        }
                        else
                        {
                            <li class="blue-wide">
                                <a href="@Url.Action("Index", "ShoppingCart")">Basket (0)</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="blue-wide">
                            <a href="@Url.Action("Index", "ShoppingCart")">Basket (0)</a>
                        </li>
                    }
                </ul>
            </div>
            <div id="nav-footer" class="grey-background">
                <a href="/" class="home-icon-link" id="menu-nav-footer-home-icon-link">
                    <div class="home glyphicon glyphicon-home box-icon"></div>
                    <div class="box">Home</div>
                </a>
                @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                {
                    <div class="box" id="ReturnAction" onclick="goBack()">-> Return</div>
                }

                <span id="span" class="pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <text>
                                <strong>Logged in as:</strong> <a id="loginLink" href="@Url.Action("Index", "Manage")">@User.Identity.Name</a> - Not you? <a id="loginLink" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                            </text>
                        }
                    }
                    else
                    {
                        <text>
                            You are not logged in -<a id="loginLink" href="@Url.Action("Login", "Account")">Login</a> or<a id="loginLink" href="@Url.Action("Register", "Account")">Register</a>
                        </text>
                    }
                </span>
            </div>
        </nav>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>